.panel-body p, .panel-body li {
	font-size: 20px;
}

.panel-body h3 {
	font-size: 29px;
	font-weight: bold;
}

.page-header h2 {
	font-size: 35px;
	font-weight: bolder;
}

img {
    display: block;
    margin: auto;
}